.checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
    padding: 0;
    max-width: 24px;
}

.checkbox input {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 1px solid #bbbbbb;
}

.checkbox input:checked {
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat;
    background-position: -1223px -361px;
    border: 1px solid #2ca01c;
}