.m-toast-msg {
    position: fixed;
    right: 4px;
    top: 0;
    max-width: 300px;
    padding: 4px;
}

.m-toast-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    max-width: 250px;
    margin: 4px 0;
    background-color: #eeeeee;
    padding: 4px;
    border: 1px solid #35bf22;
    border-radius: 4px;
}

.m-toast-content .m-toast-mesage {
    color: #35bf22;
    line-height: 24px;
    font-weight: 600;
    margin-left: 4px;
}