#footer {
    border-bottom: 2px solid #eceef1;
    ;
}

.footer {
    display: flex;
    width: 100%;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    padding: 0 12px 0 12px;
}

.footer-chose {
    display: flex;
    align-items: center;
    gap: 8px;
}